<div id="score_duplas" class="painel">
	<h1><a href="/">Voltar</a></h1>
	<ul>
		<% @duplas.each do |time| %>
     		<li><span class="player_"><%= time %></span><span class="score">0</span></li>
		<% end %>
	</ul>
</div>
