<div id="score_singles" class="painel">
	<h1><a href="/">Voltar</a></h1>
	<ul>
		<% @pontuacao.each do |jogador, pontos| %>
     		<li><span class="player_"><%= jogador %></span><span class="score"><%= pontos %></span></li>
		<% end %>
	</ul>
</div>