* {margin:0; padding:0;}
body {
  margin:0 auto; 
  background:url(http://www.colormegood.com/colormegoodPDFthumbnails/sports/tabletennispingpong/pingpong02.jpg) no-repeat 2.5em left, 
  url(http://www.colormegood.com/colormegoodPDFthumbnails/sports/tabletennispingpong/pingpong01.jpg) no-repeat 25em right;
}

h1 {  
   border-bottom:3px solid gray; width:100%;
   font-family:"futura", "gill sans", "helvetica"; text-align:center;  text-shadow:1px 1px 5px black;
   background-color:#1197dc !important; color:white; 
   position:fixed; top:0; z-index:2;
}
h1 a {color:white !important; text-shadow:1px 1px 1px black !important;}
h1 a:visited, h1 a:link {color:white !important; text-shadow:1px 1px 1px black !important;}
h2 {color:black; font-size:1.5em; margin-top:0.8em; text-shadow:1px 1px 1px blue; width:100%; text-align:center;}

ul {clear:both; list-style-type:none; margin:0 auto; width:100%; position:relative; z-index:1;}
li {
	text-transform:uppercase; text-align:center; font-size:2.2em; text-shadow: 3px 1px 5px gray;
	border-top:1px solid gray; border-bottom:1px solid gray; 
	display:block; width:100%; clear:both;
}

li a, h1 a {display:block; width:100%; text-decoration:none; color:black !important; text-shadow:1px 1px 1px #fff; }

.painel {clear:both; position:absolute; top:3.1em; width:100%;}

/*página de partida*/
#um_contra_um {width:100%; clear:both;}
/*lista de jogadores*/
#um_contra_um ul {width:100%; margin:0 auto; text-align:center;}

/*tela de partida*/
#partida {font-size:2em;text-align:center; widht:100%; margin:0 auto;}
#tempo {font-size:3em;}
.jogador {float:left; display:block;}
.jogador:last-child {float:right;}
.pontos {margin:0;}
#jogo {width:100%; clear:both; font-size:1.7em;}
.marcador {float:left; display:block; margin-left:15%;}
#fim_partida {display:block; width:100%; clear:both; background-color:red; color:white; text-shadow:1px 1px 1px black;}


/*scores*/
li span {display:block; position:relative; }
.player_ {float:left;}
.score {float:right; }
