* {margin:0; padding:0;}
h2 {color:black; font-size:20px; text-shadow:1px 1px 1px blue;}

ul {list-style-type:none; margin:10px 0 0 10px;}

li {font-size:2.2em; float:left; border-top:1px solid gray; border-bottom:1px solid gray; margin-right:10px;}





